@use 'sass:math';
@import '../../styles/settings.scss';

.columnForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $base-size;
  padding: 10px;
}

.field {
  display: flex;
  align-items: center;
  gap: math.div($base-size, 2);
}

@media (max-width: 767px) {
  .columnForm {
    flex-direction: column;
  }

  .field {
    width: 100%;
    justify-content: center;
  }
}
